body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:598px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9866 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
}
#u9867 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9868 {
  position:absolute;
  left:0px;
  top:668px;
  width:113px;
  height:20px;
  color:#FF0000;
}
#u9869 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u9870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9870 {
  position:absolute;
  left:123px;
  top:668px;
  width:183px;
  height:20px;
}
#u9871 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u9872 {
  position:absolute;
  left:0px;
  top:0px;
}
#u9872_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u9872_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9873 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#353535;
}
#u9874 {
  position:absolute;
  left:0px;
  top:23px;
  width:375px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#353535;
}
#u9875 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u9876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u9876 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u9877 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#353535;
}
#u9878 {
  position:absolute;
  left:24px;
  top:39px;
  width:33px;
  height:22px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#353535;
}
#u9879 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u9880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:22px;
}
#u9880 {
  position:absolute;
  left:10px;
  top:38px;
  width:10px;
  height:22px;
}
#u9881 {
  position:absolute;
  left:2px;
  top:3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:6px;
}
#u9882 {
  position:absolute;
  left:339px;
  top:45px;
  width:22px;
  height:6px;
}
#u9883 {
  position:absolute;
  left:2px;
  top:-5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:291px;
}
#u9884 {
  position:absolute;
  left:2px;
  top:73px;
  width:368px;
  height:291px;
}
#u9885 {
  position:absolute;
  left:2px;
  top:138px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9886 {
  position:absolute;
  left:0px;
  top:619px;
  width:375px;
  height:49px;
}
#u9887 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u9888 {
  position:absolute;
  left:312px;
  top:632px;
  width:31px;
  height:22px;
  color:#1E1E1E;
}
#u9889 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u9890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u9890 {
  position:absolute;
  left:183px;
  top:633px;
  width:57px;
  height:22px;
  color:#1E1E1E;
}
#u9891 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u9892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u9892 {
  position:absolute;
  left:10px;
  top:635px;
  width:30px;
  height:18px;
}
#u9893 {
  position:absolute;
  left:2px;
  top:1px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u9894 {
  position:absolute;
  left:265px;
  top:634px;
  width:1px;
  height:23px;
}
#u9895 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:23px;
}
#u9896 {
  position:absolute;
  left:187px;
  top:305px;
  width:174px;
  height:23px;
}
#u9897 {
  position:absolute;
  left:2px;
  top:4px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u9898 {
  position:absolute;
  left:67px;
  top:632px;
  width:57px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u9899 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u9900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u9900 {
  position:absolute;
  left:149px;
  top:634px;
  width:1px;
  height:23px;
}
#u9901 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u9902 {
  position:absolute;
  left:165px;
  top:642px;
  width:17px;
  height:19px;
}
#u9903 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9904 {
  position:absolute;
  left:150px;
  top:619px;
  width:117px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:226px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9905 {
  position:absolute;
  left:10px;
  top:374px;
  width:351px;
  height:226px;
}
#u9906 {
  position:absolute;
  left:2px;
  top:105px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9907 {
  position:absolute;
  left:24px;
  top:385px;
  width:129px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9908 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u9909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u9909 {
  position:absolute;
  left:24px;
  top:407px;
  width:327px;
  height:20px;
  color:#1E1E1E;
}
#u9910 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  word-wrap:break-word;
}
#u9911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u9911 {
  position:absolute;
  left:24px;
  top:443px;
  width:57px;
  height:20px;
  color:#999999;
}
#u9912 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u9913 {
  position:absolute;
  left:24px;
  top:472px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u9914 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u9915 {
  position:absolute;
  left:24px;
  top:498px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u9916 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9917 {
  position:absolute;
  left:91px;
  top:443px;
  width:260px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9918 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u9919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9919 {
  position:absolute;
  left:91px;
  top:472px;
  width:113px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9920 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u9921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9921 {
  position:absolute;
  left:91px;
  top:498px;
  width:197px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9922 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u9923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:6px;
}
#u9924 {
  position:absolute;
  left:333px;
  top:392px;
  width:7px;
  height:6px;
}
#u9925 {
  position:absolute;
  left:2px;
  top:-5px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:6px;
}
#u9926 {
  position:absolute;
  left:344px;
  top:392px;
  width:7px;
  height:6px;
}
#u9927 {
  position:absolute;
  left:2px;
  top:-5px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:6px;
}
#u9928 {
  position:absolute;
  left:322px;
  top:392px;
  width:7px;
  height:6px;
}
#u9929 {
  position:absolute;
  left:2px;
  top:-5px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9930 {
  position:absolute;
  left:160px;
  top:507px;
  width:98px;
  height:112px;
  overflow:hidden;
}
#u9930_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:112px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9930_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9930_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:112px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9930_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:104px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9931 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:104px;
}
#u9932 {
  position:absolute;
  left:2px;
  top:44px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u9933 {
  position:absolute;
  left:21px;
  top:17px;
  width:57px;
  height:22px;
  color:#1E1E1E;
}
#u9934 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u9935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u9935 {
  position:absolute;
  left:26px;
  top:68px;
  width:57px;
  height:22px;
  color:#1E1E1E;
}
#u9936 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u9937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:2px;
}
#u9937 {
  position:absolute;
  left:17px;
  top:57px;
  width:71px;
  height:1px;
}
#u9938 {
  position:absolute;
  left:2px;
  top:-8px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9939 {
  position:absolute;
  left:1px;
  top:55px;
  width:98px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u9940 {
  position:absolute;
  left:8px;
  top:74px;
  width:17px;
  height:19px;
}
#u9941 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9942 {
  position:absolute;
  left:12px;
  top:557px;
  width:351px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u9943 {
  position:absolute;
  left:24px;
  top:524px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u9944 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9945 {
  position:absolute;
  left:91px;
  top:524px;
  width:81px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9946 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u9947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:2px;
}
#u9947 {
  position:absolute;
  left:24px;
  top:557px;
  width:327px;
  height:1px;
}
#u9948 {
  position:absolute;
  left:2px;
  top:-8px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u9949 {
  position:absolute;
  left:24px;
  top:568px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u9950 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u9951 {
  position:absolute;
  left:336px;
  top:571px;
  width:8px;
  height:14px;
}
#u9952 {
  position:absolute;
  left:2px;
  top:-1px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9953 {
  position:absolute;
  left:379px;
  top:407px;
  width:219px;
  height:20px;
  color:#FF0000;
}
#u9954 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
#u9955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9955 {
  position:absolute;
  left:379px;
  top:453px;
  width:183px;
  height:20px;
  color:#FF0000;
}
#u9956 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u9957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9957 {
  position:absolute;
  left:379px;
  top:523px;
  width:141px;
  height:20px;
  color:#FF0000;
}
#u9958 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
