body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2730 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2731 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
}
#u2732 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#353535;
}
#u2733 {
  position:absolute;
  left:0px;
  top:23px;
  width:375px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#353535;
}
#u2734 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u2735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u2735 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u2736 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:6px;
}
#u2737 {
  position:absolute;
  left:339px;
  top:45px;
  width:22px;
  height:6px;
}
#u2738 {
  position:absolute;
  left:2px;
  top:-5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2739 {
  position:absolute;
  left:11px;
  top:39px;
  width:41px;
  height:20px;
}
#u2740 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2741 {
  position:absolute;
  left:0px;
  top:23px;
  width:100px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:220px;
}
#u2742 {
  position:absolute;
  left:37px;
  top:218px;
  width:290px;
  height:220px;
}
#u2743 {
  position:absolute;
  left:2px;
  top:102px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
