body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2951 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
}
#u2952 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#353535;
}
#u2953 {
  position:absolute;
  left:0px;
  top:23px;
  width:375px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#353535;
}
#u2954 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u2955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u2955 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u2956 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:6px;
}
#u2957 {
  position:absolute;
  left:339px;
  top:45px;
  width:22px;
  height:6px;
}
#u2958 {
  position:absolute;
  left:2px;
  top:-5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2959 {
  position:absolute;
  left:11px;
  top:39px;
  width:41px;
  height:20px;
}
#u2960 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2961 {
  position:absolute;
  left:0px;
  top:23px;
  width:100px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:207px;
}
#u2962 {
  position:absolute;
  left:38px;
  top:243px;
  width:273px;
  height:207px;
}
#u2963 {
  position:absolute;
  left:2px;
  top:96px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2964 {
  position:absolute;
  left:0px;
  top:631px;
  width:375px;
  height:36px;
}
#u2965 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2966 {
  position:absolute;
  left:24px;
  top:642px;
  width:328px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u2967 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  white-space:nowrap;
}
