body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1557px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:774px;
  height:616px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6284 {
  position:absolute;
  left:732px;
  top:549px;
  width:774px;
  height:616px;
}
#u6285 {
  position:absolute;
  left:2px;
  top:300px;
  width:770px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6286 {
  position:absolute;
  left:385px;
  top:12px;
  width:379px;
  height:126px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6287 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u6288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6288 {
  position:absolute;
  left:750px;
  top:555px;
  width:379px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6289 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u6290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:698px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6290 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:698px;
}
#u6291 {
  position:absolute;
  left:2px;
  top:341px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6292 {
  position:absolute;
  left:19px;
  top:144px;
  width:57px;
  height:22px;
  color:#000000;
}
#u6293 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u6294 {
  position:absolute;
  left:86px;
  top:140px;
  width:265px;
  height:35px;
}
#u6294_input {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6295 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#353535;
}
#u6296 {
  position:absolute;
  left:0px;
  top:23px;
  width:375px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#353535;
}
#u6297 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u6298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u6298 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u6299 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:6px;
}
#u6300 {
  position:absolute;
  left:339px;
  top:45px;
  width:22px;
  height:6px;
}
#u6301 {
  position:absolute;
  left:2px;
  top:-5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6302 {
  position:absolute;
  left:11px;
  top:39px;
  width:41px;
  height:20px;
}
#u6303 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u6304 {
  position:absolute;
  left:0px;
  top:23px;
  width:100px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.0470588235294118);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.0470588235294118);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.0470588235294118);
}
#u6305 {
  position:absolute;
  left:1px;
  top:74px;
  width:375px;
  height:44px;
}
#u6306 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6307 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6308 {
  position:absolute;
  left:12px;
  top:87px;
  width:41px;
  height:20px;
}
#u6309 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u6310 {
  position:absolute;
  left:0px;
  top:73px;
  width:67px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6311 {
  position:absolute;
  left:310px;
  top:86px;
  width:57px;
  height:22px;
}
#u6312 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u6313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u6313 {
  position:absolute;
  left:19px;
  top:210px;
  width:57px;
  height:22px;
  color:#000000;
  text-align:left;
}
#u6314 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u6315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 180, 0, 1);
  border:none;
  border-radius:78px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u6315 {
  position:absolute;
  left:19px;
  top:463px;
  width:323px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u6315_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 180, 0, 1);
  border:none;
  border-radius:78px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u6315.selected {
}
#u6315_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:78px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u6315.disabled {
}
#u6316 {
  position:absolute;
  left:2px;
  top:10px;
  width:319px;
  word-wrap:break-word;
}
#u6317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.43921568627451);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6317 {
  position:absolute;
  left:397px;
  top:144px;
  width:300px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6318 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u6319 {
  position:absolute;
  left:275px;
  top:73px;
  width:100px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6320 {
  position:absolute;
  left:1178px;
  top:557px;
  width:379px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6321 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u6322 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:254px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:7px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.109803921568627);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.109803921568627);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.109803921568627);
}
#u6323 {
  position:absolute;
  left:732px;
  top:228px;
  width:307px;
  height:254px;
}
#u6324 {
  position:absolute;
  left:2px;
  top:119px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u6325 {
  position:absolute;
  left:849px;
  top:253px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u6326 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#797979;
  text-align:center;
}
#u6327 {
  position:absolute;
  left:749px;
  top:324px;
  width:275px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#797979;
  text-align:center;
}
#u6328 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  word-wrap:break-word;
}
#u6329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:64px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6329 {
  position:absolute;
  left:788px;
  top:413px;
  width:182px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6330 {
  position:absolute;
  left:2px;
  top:11px;
  width:178px;
  word-wrap:break-word;
}
#u6331 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:254px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:7px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.109803921568627);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.109803921568627);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.109803921568627);
}
#u6332 {
  position:absolute;
  left:767px;
  top:583px;
  width:307px;
  height:254px;
}
#u6333 {
  position:absolute;
  left:2px;
  top:119px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u6334 {
  position:absolute;
  left:884px;
  top:608px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u6335 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u6336 {
  position:absolute;
  left:784px;
  top:679px;
  width:275px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u6337 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  word-wrap:break-word;
}
#u6338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:64px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6338 {
  position:absolute;
  left:805px;
  top:768px;
  width:234px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6339 {
  position:absolute;
  left:2px;
  top:11px;
  width:230px;
  word-wrap:break-word;
}
#u6340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6340 {
  position:absolute;
  left:750px;
  top:865px;
  width:379px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6341 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u6342 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:254px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:7px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.109803921568627);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.109803921568627);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.109803921568627);
}
#u6343 {
  position:absolute;
  left:767px;
  top:893px;
  width:307px;
  height:254px;
}
#u6344 {
  position:absolute;
  left:2px;
  top:119px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u6345 {
  position:absolute;
  left:884px;
  top:918px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u6346 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u6347 {
  position:absolute;
  left:784px;
  top:989px;
  width:275px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u6348 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  word-wrap:break-word;
}
#u6349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:64px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6349 {
  position:absolute;
  left:822px;
  top:1079px;
  width:199px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6350 {
  position:absolute;
  left:2px;
  top:11px;
  width:195px;
  word-wrap:break-word;
}
#u6351 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:254px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:7px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.109803921568627);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.109803921568627);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.109803921568627);
}
#u6352 {
  position:absolute;
  left:1178px;
  top:583px;
  width:307px;
  height:254px;
}
#u6353 {
  position:absolute;
  left:2px;
  top:119px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u6354 {
  position:absolute;
  left:1295px;
  top:608px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u6355 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#797979;
  text-align:center;
}
#u6356 {
  position:absolute;
  left:1195px;
  top:679px;
  width:275px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#797979;
  text-align:center;
}
#u6357 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  word-wrap:break-word;
}
#u6358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:64px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6358 {
  position:absolute;
  left:1234px;
  top:768px;
  width:192px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6359 {
  position:absolute;
  left:2px;
  top:11px;
  width:188px;
  word-wrap:break-word;
}
#u6360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u6360 {
  position:absolute;
  left:732px;
  top:178px;
  width:300px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u6361 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u6362 {
  position:absolute;
  left:342px;
  top:483px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u6362_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:199px;
  height:8px;
}
#u6362_seg1 {
  position:absolute;
  left:191px;
  top:-132px;
  width:8px;
  height:136px;
}
#u6362_seg2 {
  position:absolute;
  left:191px;
  top:-132px;
  width:199px;
  height:8px;
}
#u6362_seg3 {
  position:absolute;
  left:377px;
  top:-138px;
  width:20px;
  height:20px;
}
#u6363 {
  position:absolute;
  left:145px;
  top:-75px;
  width:100px;
  word-wrap:break-word;
}
#u6364 {
  position:absolute;
  left:342px;
  top:483px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u6364_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:196px;
  height:8px;
}
#u6364_seg1 {
  position:absolute;
  left:188px;
  top:-4px;
  width:8px;
  height:147px;
}
#u6364_seg2 {
  position:absolute;
  left:188px;
  top:135px;
  width:202px;
  height:8px;
}
#u6364_seg3 {
  position:absolute;
  left:377px;
  top:129px;
  width:20px;
  height:20px;
}
#u6365 {
  position:absolute;
  left:142px;
  top:62px;
  width:100px;
  word-wrap:break-word;
}
#u6366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u6366 {
  position:absolute;
  left:86px;
  top:195px;
  width:63px;
  height:63px;
}
#u6367 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u6368 {
  position:absolute;
  left:86px;
  top:224px;
  width:63px;
  height:25px;
  color:rgba(255, 255, 255, 0.807843137254902);
}
#u6368_img.selected {
}
#u6368.selected {
}
#u6369 {
  position:absolute;
  left:2px;
  top:5px;
  width:59px;
  word-wrap:break-word;
}
#u6370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 102, 255, 0.807843137254902);
}
#u6370 {
  position:absolute;
  left:90px;
  top:259px;
  width:53px;
  height:21px;
  font-size:12px;
  color:rgba(0, 102, 255, 0.807843137254902);
}
#u6371 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u6372 {
  position:absolute;
  left:82px;
  top:186px;
  width:72px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
