body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1557px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:774px;
  height:616px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6185 {
  position:absolute;
  left:732px;
  top:549px;
  width:774px;
  height:616px;
}
#u6186 {
  position:absolute;
  left:2px;
  top:300px;
  width:770px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6187 {
  position:absolute;
  left:385px;
  top:12px;
  width:379px;
  height:126px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6188 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u6189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6189 {
  position:absolute;
  left:750px;
  top:555px;
  width:379px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6190 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u6191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:698px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6191 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:698px;
}
#u6192 {
  position:absolute;
  left:2px;
  top:341px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6193 {
  position:absolute;
  left:19px;
  top:144px;
  width:57px;
  height:22px;
  color:#000000;
}
#u6194 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u6195 {
  position:absolute;
  left:86px;
  top:140px;
  width:265px;
  height:35px;
}
#u6195_input {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6196 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#353535;
}
#u6197 {
  position:absolute;
  left:0px;
  top:23px;
  width:375px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#353535;
}
#u6198 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u6199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u6199 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u6200 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:6px;
}
#u6201 {
  position:absolute;
  left:339px;
  top:45px;
  width:22px;
  height:6px;
}
#u6202 {
  position:absolute;
  left:2px;
  top:-5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6203 {
  position:absolute;
  left:11px;
  top:39px;
  width:41px;
  height:20px;
}
#u6204 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u6205 {
  position:absolute;
  left:0px;
  top:23px;
  width:100px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.0470588235294118);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.0470588235294118);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.0470588235294118);
}
#u6206 {
  position:absolute;
  left:1px;
  top:74px;
  width:375px;
  height:44px;
}
#u6207 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6208 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6209 {
  position:absolute;
  left:12px;
  top:87px;
  width:41px;
  height:20px;
}
#u6210 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u6211 {
  position:absolute;
  left:0px;
  top:73px;
  width:67px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6212 {
  position:absolute;
  left:310px;
  top:86px;
  width:57px;
  height:22px;
}
#u6213 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u6214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u6214 {
  position:absolute;
  left:19px;
  top:210px;
  width:57px;
  height:22px;
  color:#000000;
  text-align:left;
}
#u6215 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u6216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 180, 0, 1);
  border:none;
  border-radius:78px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u6216 {
  position:absolute;
  left:19px;
  top:463px;
  width:323px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u6216_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 180, 0, 1);
  border:none;
  border-radius:78px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u6216.selected {
}
#u6216_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:78px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u6216.disabled {
}
#u6217 {
  position:absolute;
  left:2px;
  top:10px;
  width:319px;
  word-wrap:break-word;
}
#u6218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.43921568627451);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6218 {
  position:absolute;
  left:397px;
  top:144px;
  width:300px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6219 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u6220 {
  position:absolute;
  left:275px;
  top:73px;
  width:100px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6221 {
  position:absolute;
  left:1178px;
  top:557px;
  width:379px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6222 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u6223 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:254px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:7px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.109803921568627);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.109803921568627);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.109803921568627);
}
#u6224 {
  position:absolute;
  left:732px;
  top:228px;
  width:307px;
  height:254px;
}
#u6225 {
  position:absolute;
  left:2px;
  top:119px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u6226 {
  position:absolute;
  left:849px;
  top:253px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u6227 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#797979;
  text-align:center;
}
#u6228 {
  position:absolute;
  left:749px;
  top:324px;
  width:275px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#797979;
  text-align:center;
}
#u6229 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  word-wrap:break-word;
}
#u6230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:64px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6230 {
  position:absolute;
  left:788px;
  top:413px;
  width:182px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6231 {
  position:absolute;
  left:2px;
  top:11px;
  width:178px;
  word-wrap:break-word;
}
#u6232 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:254px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:7px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.109803921568627);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.109803921568627);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.109803921568627);
}
#u6233 {
  position:absolute;
  left:767px;
  top:583px;
  width:307px;
  height:254px;
}
#u6234 {
  position:absolute;
  left:2px;
  top:119px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u6235 {
  position:absolute;
  left:884px;
  top:608px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u6236 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u6237 {
  position:absolute;
  left:784px;
  top:679px;
  width:275px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u6238 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  word-wrap:break-word;
}
#u6239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:64px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6239 {
  position:absolute;
  left:805px;
  top:768px;
  width:234px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6240 {
  position:absolute;
  left:2px;
  top:11px;
  width:230px;
  word-wrap:break-word;
}
#u6241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6241 {
  position:absolute;
  left:750px;
  top:865px;
  width:379px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6242 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u6243 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:254px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:7px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.109803921568627);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.109803921568627);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.109803921568627);
}
#u6244 {
  position:absolute;
  left:767px;
  top:893px;
  width:307px;
  height:254px;
}
#u6245 {
  position:absolute;
  left:2px;
  top:119px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u6246 {
  position:absolute;
  left:884px;
  top:918px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u6247 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u6248 {
  position:absolute;
  left:784px;
  top:989px;
  width:275px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u6249 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  word-wrap:break-word;
}
#u6250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:64px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6250 {
  position:absolute;
  left:822px;
  top:1079px;
  width:199px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6251 {
  position:absolute;
  left:2px;
  top:11px;
  width:195px;
  word-wrap:break-word;
}
#u6252 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:254px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:7px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.109803921568627);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.109803921568627);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.109803921568627);
}
#u6253 {
  position:absolute;
  left:1178px;
  top:583px;
  width:307px;
  height:254px;
}
#u6254 {
  position:absolute;
  left:2px;
  top:119px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u6255 {
  position:absolute;
  left:1295px;
  top:608px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u6256 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#797979;
  text-align:center;
}
#u6257 {
  position:absolute;
  left:1195px;
  top:679px;
  width:275px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#797979;
  text-align:center;
}
#u6258 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  word-wrap:break-word;
}
#u6259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:64px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6259 {
  position:absolute;
  left:1234px;
  top:768px;
  width:192px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6260 {
  position:absolute;
  left:2px;
  top:11px;
  width:188px;
  word-wrap:break-word;
}
#u6261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u6261 {
  position:absolute;
  left:732px;
  top:178px;
  width:300px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u6262 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u6263 {
  position:absolute;
  left:342px;
  top:483px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u6263_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:199px;
  height:8px;
}
#u6263_seg1 {
  position:absolute;
  left:191px;
  top:-132px;
  width:8px;
  height:136px;
}
#u6263_seg2 {
  position:absolute;
  left:191px;
  top:-132px;
  width:199px;
  height:8px;
}
#u6263_seg3 {
  position:absolute;
  left:377px;
  top:-138px;
  width:20px;
  height:20px;
}
#u6264 {
  position:absolute;
  left:145px;
  top:-75px;
  width:100px;
  word-wrap:break-word;
}
#u6265 {
  position:absolute;
  left:342px;
  top:483px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u6265_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:196px;
  height:8px;
}
#u6265_seg1 {
  position:absolute;
  left:188px;
  top:-4px;
  width:8px;
  height:147px;
}
#u6265_seg2 {
  position:absolute;
  left:188px;
  top:135px;
  width:202px;
  height:8px;
}
#u6265_seg3 {
  position:absolute;
  left:377px;
  top:129px;
  width:20px;
  height:20px;
}
#u6266 {
  position:absolute;
  left:142px;
  top:62px;
  width:100px;
  word-wrap:break-word;
}
#u6267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u6267 {
  position:absolute;
  left:86px;
  top:195px;
  width:63px;
  height:63px;
}
#u6268 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u6269 {
  position:absolute;
  left:86px;
  top:224px;
  width:63px;
  height:25px;
  color:rgba(255, 255, 255, 0.807843137254902);
}
#u6269_img.selected {
}
#u6269.selected {
}
#u6270 {
  position:absolute;
  left:2px;
  top:5px;
  width:59px;
  word-wrap:break-word;
}
